{% extends 'base.html.twig' %} {% block title 'Home' %} {% block body %}

<div class="jumbotron text-center">
  <h1>Agence Super Agence</h1>
  <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the
    1500s, when an unknown printer took a galley of type and scrambled it to
    make a type specimen book.
  </p>
</div>
<div class="container">
  <h2>Les derniers biens</h2>
  <div class="row flex">
    {% for property in properties %}
    <div class="col-3">
      {% include 'property/_property.html.twig' %}
    </div>

    {% endfor %}
  </div>
</div>

{% endblock %}
